<table *ngIf="clients.length > 0 " border="1" cellpadding="8" style="width: 100%; border-collapse: collapse">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Email</th>
      <th>Age</th>
      <th>Sexe</th>
      <th>Date</th>
      <th>Debut</th>
      <th>Fin</th>
      <th>Status</th>
      <!-- Add more columns as needed -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients">
      <td>{{ client.client.nom }}</td>

      <td>{{ client.client.prenom }}</td>
      <td>{{ client.client.email }}</td>
      <td>{{ client.client.age }}</td>
      <td>{{ client.client.sexe }}</td>
      <td>{{ client.dateOnly }}</td>
      <td>{{ client.heureDebut }}</td>
      <td>{{ client.heureFin }}</td>
      <td>{{ client.status }}</td>

    </tr>
  </tbody>
</table>
<!-- Pagination controls -->


<div *ngIf="clients.length == 0">
  No clients found.
</div>