<h2>Mon profil</h2>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" *ngIf="profileForm">
  <label>Nom :</label>
  <input formControlName="nom" />

  <label>Prénom :</label>
  <input formControlName="prenom" />

  <label>Email :</label>
  <input formControlName="email" />

  <label>Âge :</label>
  <input type="number" formControlName="age" />

  <label>Sexe :</label>
  <select formControlName="sexe">
    <option value="Homme">Homme</option>
    <option value="Femme">Femme</option>
    <option value="Femme">other</option>

  </select>

  <button type="submit">Mettre à jour</button>
</form>
