<form *ngIf="!rechercheEffectuee" [formGroup]="rechercheForm" (ngSubmit)="rechercher()">
  <label>Professionnel :</label>
  <select formControlName="professionalId">
    <option *ngFor="let pro of professionals" [value]="pro._id">
      {{ pro.nom }} {{ pro.prenom }} ({{ pro.profession }})
    </option>
  </select>

  <label>Date :</label>
  <input type="date" formControlName="dateOnly" />

  <button type="submit">Rechercher</button>
</form>

<div *ngIf="appointments.length > 0">
  <h3>Rendez-vous :</h3>
  <table border="1" cellpadding="8" style="width: 100%; border-collapse: collapse;">
    <thead>
      <tr style="background-color: #f0f0f0;">
        <th>ID Client</th>
        <th>Heure début</th>
        <th>Heure fin</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of appointments">
        <td>{{ a.client }}</td>
        <td>{{ a.heureDebut }}</td>
        <td>{{ a.heureFin }}</td>
        <td>{{ a.status }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="appointments.length == 0 && rechercheEffectuee">
  <p>Aucun rendez-vous trouvé pour cette date.</p>
</div>
<!-- Formulaire d'ajout de rendez-vous -->
<div *ngIf="rechercheEffectuee">
<h3>Ajouter un rendez-vous</h3>
<form [formGroup]="reservationForm" (ngSubmit)="ajouterRendezVous()">
  <label>Nom du patient :</label>
  <input formControlName="patientId" type="text" [disabled]="true" />

  <label>Heure de début :</label>
  <input formControlName="startHour" type="time" />

  <label>Heure de fin :</label>
  <input  formControlName="endHour" type="time" [disabled]="true"  />

  <button type="submit">Ajouter</button>
</form>
</div>