<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="mb-4">
            <i class="feather icon-unlock auth-icon"></i>
          </div>
          <h3 class="mb-4">Login</h3>

          <div class="input-group mb-3">
            <input
              type="email"
              class="form-control"
              placeholder="Email"
              formControlName="email"
            />
          </div>
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            Veuillez entrer un email valide.
          </div>

          <div class="input-group mb-4">
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              formControlName="password"
            />
          </div>
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            Le mot de passe est requis.
          </div>

          <button class="btn btn-primary mb-4" type="submit">
            Login
          </button>

          
          <p class="mb-0 text-muted">
            Vous n'avez pas de compte ?
            <a [routerLink]="['/auth/signup']">S'inscrire</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
